/* Déclaration de la police variable */

@font-face {
    font-family: 'ABCOracle';
    src: url('../fonts/ABCOracleVariable-Trial.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
}

html {
    font-size: 16px;
    /* Pas besoin de overflow: hidden ici */
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    /* Permet le défilement vertical */
    scroll-behavior: smooth !important;
    /* Assure un défilement fluide par défaut */
}


/* Autres règles CSS restent inchangées */


/* Configuration globale */

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: 'ABCOracle', sans-serif;
    background-color: #F5F5F5;
    /* Applique la couleur de fond à toute la page */
    font-family: 'ABCOracle', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Assure un calcul cohérent des dimensions */
}

header {
    max-width: 76rem;
    /* Largeur fixe */
    width: 100%;
    text-align: center;
    /* Centrage du contenu */
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 76rem;
    width: 100%;
    padding-top: 1.5rem;
}

.nav-links a {
    text-decoration: none;
    color: #ededed;
    margin-left: 1.25rem;
    font-size: 1rem;
}

.header-nav {
    display: flex;
    justify-content: flex-end;
    /* Aligne les éléments à droite */
    align-items: center;
    /* Centre les liens verticalement par rapport à la hauteur du paragraphe */
    gap: 0.25rem;
    /* Espace entre les liens */
    background-color: #ffffff;
    padding: 0.25rem;
    border-radius: 0.625rem;
    margin-right: 1.25rem;
}

#work {
    background-color: #EDEDED;
    /* Fond blanc */
    padding: 0.375rem 0.75rem;
    /* Padding vertical de 6px et padding latéral de 12px */
    color: #333;
    text-decoration: none;
    /* Supprimer le soulignement du lien */
    display: inline-block;
    /* Permet au lien d'avoir un fond et un padding */
    border-radius: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

#contact {
    background-color: #ffffff;
    padding: 0.375rem 0.75rem;
    color: #545454;
    text-decoration: none;
    display: inline-block;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

#search {
    padding: 0.375rem 0.75rem;
    text-decoration: none;
}

#contact:hover {
    color: #000000;
    transition: 1s;
}

[data-lucide="search"] {
    stroke: #545454;
    stroke-width: 0.125rem;
    width: .5rem;
    display: flex;
}

[data-lucide="search"]:hover {
    stroke: #000000;
    transition: 1s;
}

.header-nav a {
    text-decoration: none;
    color: #545454;
    font-size: 1rem;
    font-weight: 375;
}

.header-nav a:hover {
    color: #000000;
    transition: 0.5s;
}

.site-title .first-word {
    font-weight: 450;
}

.site-title {
    font-size: 1rem;
    font-weight: 375;
    line-height: 1.5rem;
    letter-spacing: -0.004rem;
    margin-bottom: 0;
    text-align: left;
    color: #333;
    max-width: 20.9375rem;
    margin-left: 1.25rem;
}


/* Section principale */

.section {
    max-width: 85.5rem;
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.image-holder {
    width: 85.5rem;
    height: 48.0625rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.25rem;
    border-radius: 0.625rem;
    overflow: hidden;
    display: inline-block;
    position: relative;
}

.image-holder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.4s ease;
}

.image-holder:hover img {
    transform: scale(1.05);
}

.image-holder video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.4s ease;
}

.image-holder:hover video {
    transform: scale(1.05);
}

.text-content {
    max-width: 85.5rem;
    width: 100%;
    padding-left: 0;
}

.text-content h1 {
    font-size: 0.875rem;
    font-weight: 450;
    line-height: 1.125rem;
    letter-spacing: -0.004rem;
    margin-bottom: 0.125rem;
    padding-left: 0.75rem;
}

.text-content p {
    font-size: 0.875rem;
    font-weight: 375;
    line-height: 1.125rem;
    letter-spacing: -0.004rem;
    margin-top: 0;
    color: #333;
    padding-left: 0.75rem;
    max-width: 21.875rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    color: #999;
    padding: 1.5rem 0;
}


/* Box Contact*/

.navbar {
    position: relative;
}

.site-title {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.header-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.25rem;
    background-color: #ffffff;
    padding: 0.25rem;
    border-radius: 0.625rem;
    margin-right: 1.25rem;
}

#contact {
    position: relative;
    z-index: 1001;
    background-color: #ffffff;
    padding: 0.375rem 0.75rem;
    color: #545454;
    text-decoration: none;
    display: inline-block;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

#contact:hover {
    color: #000000;
    transition: 1s;
}

.contact-box {
    position: absolute;
    display: none;
    width: 15rem;
    height: 8.0625rem;
    background-color: #ffffff;
    border-radius: 0.625rem;
    padding: 0.75rem;
    box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transform: scale(0.9);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.contact-box.show {
    display: block;
    transform: scale(1);
    opacity: 1;
}

.contact-content p {
    margin: 0.3125rem 0;
    font-size: 0.875rem;
}

.social-links {
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    align-self: flex-end;
    margin-top: 2.625rem;
}

.social-links a {
    text-decoration: none;
    color: #545454;
    margin-right: 0.625rem;
}

.social-links a:hover {
    color: #000000;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    backdrop-filter: blur(0.3125rem);
    transition: 0.3s;
}

.contact-content {
    position: relative;
}

.contact-p {
    font-size: 0.875rem;
    font-weight: 375;
    line-height: 1.125rem;
    letter-spacing: -0.004rem;
    color: #333;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.mail-word {
    text-align: start;
}

.mail-copy {
    text-align: start;
    font-size: 0.875rem;
    font-weight: 375;
    line-height: 1.125rem;
    letter-spacing: -0.004rem;
    color: #545454;
    cursor: pointer;
    position: relative;
    margin-top: 0;
}

.mail-copy::after {
    content: "Click to Copy";
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translate(0.5rem, -50%);
    background-color: #f5f5f5;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.mail-copy:hover+.copy-tooltip {
    visibility: visible;
    opacity: 1;
}

.copy-tooltip {
    visibility: hidden;
    opacity: 0;
    margin-top: 1rem;
    color: #999;
    font-size: 0.875rem;
    font-weight: 375;
    line-height: 1.125rem;
    letter-spacing: -0.004rem;
    transition: opacity 0.2s ease, visibility 0.3s ease;
    position: absolute;
    left: 0;
}

.scroll-to-top {
    position: fixed;
    bottom: 1.25rem;
    right: 1.25rem;
    background-color: white;
    border: none;
    border-radius: 30%;
    margin: 0.375rem 0.75rem;
    padding: 0.375rem;
    cursor: pointer;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll-to-top:hover {
    background-color: #f0f0f0;
}

.scroll-to-top i {
    font-size: 1.5rem;
    color: #333;
}

.scroll-to-top.show {
    visibility: visible;
    opacity: 1;
}

.transition-overlay {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #F5F5F5;
    z-index: 2000;
    transition: height 1s ease-in-out;
}

body.fade-in {
    opacity: 0;
    animation: fadeInAnimation 1s forwards;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.content {
    opacity: 0;
    transition: opacity 3s ease-in-out;
}

.content.fade-in {
    opacity: 1;
    visibility: visible;
}

@media (max-width: 48rem) {
    header {
        max-width: 90%;
    }
    .navbar {
        flex-direction: column;
        align-items: center;
    }
    .nav-links a {
        margin-left: 0;
        margin-right: 0.9375rem;
        font-size: 0.875rem;
    }
    .section {
        align-items: center;
    }
    .image-holder {
        width: 90%;
        margin: 0 auto;
    }
    .text-content {
        max-width: 90%;
    }
    .text-content h1 {
        font-size: 1.25rem;
    }
    .text-content p {
        font-size: 0.875rem;
    }
}