<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/project-one.css">
    <title>Anxoves Del Padri</title>
    <link rel="icon" href="../img/favicon-anchois.png" type="image/png">
    <link rel="stylesheet" href="../styles/other-project.css">
</head>

<body>
    <div class="content">
        <div class="navbar">
            <nav class="header-nav">
                <a href="../index.html" class="btw" id="work" onclick="pageTransition(event)">Back to work</a>
            </nav>
        </div>
        <!-- Div pour l'animation de couverture de l'écran -->
        <div class="transition-overlay"></div>
        <section class="hero">
            <h1 class="hero-title">Anxoves Del Padri</h1>
            <p class="hero-subtitle project-anchois-description">A family business in Port-Vendres since 1967, embodying the heritage of Mediterranean fishing.</p>
        </section>

        <section class="image-holder-section">
            <div class="image-holder">
                <img src="../img/anchois-top.png" alt="Image">
            </div>
        </section>

        <section class="texte">
            <h1 class="texte-title p4-title1">Strong Identity</h1>
            <p class="texte-subtitle p4-subtitle1">A palette of boldness for a timeless identity.</p>
        </section>

        <section class="double-image-holder-section">
            <div class="double-image-holder">
                <div class="image-container-double">
                    <img src="../img/anchois-1.png" alt="Image 1">
                </div>
                <div class="image-container-double">
                    <img src="../img/anchois-2.png" alt="Image 1">
                </div>
            </div>

        </section>

        <section class="texte">
            <h1 class="texte-title p4-title2">Traditional Colors</h1>
            <p class="texte-subtitle p4-subtitle2">Inspired by the vibrant hues of Collioure's iconic buildings.</p>
        </section>


        <section class="image-holder-section">
            <div class="image-holder">
                <img src="../img/anchois-logo1.png" alt="Image">
            </div>
        </section>

        <section class="texte">
            <h1 class="texte-title p4-title3">One Brand, Many Shades</h1>
            <p class="texte-subtitle p4-subtitle3">Discover logos in various colors, each representing a unique aspect of their identity.</p>
        </section>

        <section class="quad-image-holder-section">
            <div class="quad-image-holder">
                <div class="image-container-quad-top">
                    <img src="../img/anchois-quad-1.png" alt="Image 1">
                </div>
                <div class="image-container-quad-top">
                    <img src="../img/anchois-quad-2.png" alt="Image 2">
                </div>
                <div class="image-container-quad-top">
                    <img src="../img/anchois-quad-3.png" alt="Image 1">
                </div>
                <div class="image-container-quad-top">
                    <img src="../img/anchois-quad-4.png" alt="Image 2">
                </div>
            </div>
        </section>

        <section class="texte">
            <h1 class="texte-title p4-title4">Stick to the Brand</h1>
            <p class="texte-subtitle p4-subtitle4">Unique stickers inspired by the brand's artistic direction.</p>
        </section>

        <section class="image-holder-section">
            <div class="image-holder">
                <img src="../img/anchois-stickers.png" alt="Image">
            </div>
        </section>

        <section class="texte">
            <h1 class="texte-title"></h1>
            <p class="texte-subtitle"></p>
        </section>

        <section class="double-image-holder-section">
            <div class="demi-video-holder">
                <div class="image-container-double">
                    <img src="../img/anchois2-1.png" alt="Image 1">
                </div>
            </div>
            <div class="demi-video-holder">
                <video autoplay loop muted playsinline disablePictureInPicture>
                    <source src="../video/anchois2-2.mp4"  type="video/mp4">
                    Votre navigateur ne supporte pas la lecture de vidéos.
                </video>
            </div>
        </section>

        <section class="texte">
            <h1 class="texte-title p4-title5">Bold Photography</h1>
            <p class="texte-subtitle p4-subtitle5">Powerful imagery that speaks volumes.</p>
        </section>

        <section class="image-holder-section">
            <div class="image-holder">
                <img src="../img/Anchois-photo.png" alt="Image">
            </div>
        </section>

        <section class="texte-op">
            <h1 class="texte-title-op">View more work</h1>
        </section>

        <div class="section-op" id="projet3">
            <a href="../view/Techno-Memory.html" class="image-holder-op" onclick="pageTransition(event)">
                <video src="../video/Memoire-top-.mp4" autoplay loop muted playsinline style="width: 100%; height: auto;" disablePictureInPicture>
                <img src="img/Sleek-cover.png" alt="Fallback Image" style="width: 100%; height: auto;">
                Votre navigateur ne supporte pas la lecture de vidéos.
            </video>
            </a>
            <div class="text-content-op">
                <h1>Techno music memory</h1>
                <p class="project-techno-description">Personal project completed during my final year of higher education</p>
            </div>
        </div>

        <footer class="footer">
            <p class="footer-message">You've reached the end</p>
        </footer>
        <script src="../script/scroll.js" defer></script>
        <script src="../script/transition.js"></script>
        <script type="module" src="../script/sous-page-translations-p4.js"></script>
    </div>
</body>

</html>