<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/project-one.css">
    <title>Sleek</title>
    <link rel="icon" href="../img/favicon-sleek.png" type="image/png">
    <link rel="stylesheet" href="../styles/other-project.css">
</head>

<body>
    <div class="content">
        <div class="navbar">
            <nav class="header-nav">
                <a href="../index.html" id="work" onclick="pageTransition(event)">Back to work</a>
            </nav>
        </div>
        <!-- Div pour l'animation de couverture de l'écran -->
        <div class="transition-overlay"></div>
        <section class="hero">
            <h1 class="hero-title">Sleek</h1>
            <p class="hero-subtitle">A design agency based in the south of France.</p>
        </section>

        <section class="video-holder-section">
            <div class="video-holder">
                <video style="width: 100%; height: auto;" autoplay loop muted playsinline disablePictureInPicture>
                <source src="../video/Sleek-Website-top.mp4"  type="video/mp4">
                Votre navigateur ne supporte pas la lecture de vidéos.
            </video>
            </div>
        </section>

        <section class="texte">
            <h1 class="texte-title">Single Web Experience</h1>
            <p class="texte-subtitle">Crafted to deliver a visually appealing and functional experience for every user.</p>
        </section>

        <section class="double-image-holder-section">
            <div class="double-image-holder">
                <div class="image-container-double">
                    <img src="../img/Sleek-bento-part-1.png" alt="Image 1">
                </div>
                <div class="demi-video-holder">
                    <video style="width: 100%; height: auto;" autoplay loop muted playsinline disablePictureInPicture>
                    <source src="../video/Sleek-Bento-Part-2.mp4"  type="video/mp4">
                    Votre navigateur ne supporte pas la lecture de vidéos.
                </video>
                </div>
        </section>

        <section class="texte">
            <h1 class="texte-title">Tailored Illustrations</h1>
            <p class="texte-subtitle">Illustrations created in Figma and animated in After Effects to conceptualize information and client contacts.</p>
        </section>

        <section class="image-holder-section">
            <div class="image-holder">
                <img src="../img/sleek-website-part-2.png" alt="Image">
            </div>
        </section>

        <section class="texte">
            <h1 class="texte-title">Refined Visual Identity</h1>
            <p class="texte-subtitle">A visual identity designed to define Sleek’s essence and ensure cohesive communication across all touchpoints.</p>
        </section>

        <section class="image-holder-section">
            <div class="image-holder">
                <img src="../img/Sleek-colors.png" alt="Image">
            </div>
        </section>

        <section class="texte">
            <h1 class="texte-title">Logo & Typography Standards</h1>
            <p class="texte-subtitle">Explore the design principles that ensure consistent branding through clear space and typographic choices.</p>
        </section>

        <section class="double-image-holder-section">
            <div class="double-image-holder">
                <div class="demi-video-holder">
                    <video style="width: 100%; height: auto;" autoplay loop muted playsinline disablePictureInPicture>
                    <source src="../video/Sleek-typo.mp4"  type="video/mp4">
                    Votre navigateur ne supporte pas la lecture de vidéos.
                </video>
                </div>
                <div class="image-container-double">
                    <img src="../img/Sleek-safe-zone.png" alt="Image 1">
                </div>
            </div>
        </section>

        <section class="texte">
            <h1 class="texte-title">Engage with them</h1>
            <p class="texte-subtitle">A call-to-action designed to guide users towards scheduling a consultation and connecting with the brand.</p>
        </section>

        <section class="image-holder-section">
            <div class="image-holder">
                <img src="../img/Sleek-Footer.png" alt="Image">
            </div>
        </section>

        <section class="texte-op">
            <h1 class="texte-title-op">View more work</h1>
        </section>

        <div class="section-op" id="projet4">
            <a href="../view/project4.html" class="image-holder-op" onclick="pageTransition(event)">
                <img src="../img/Anchois-photo.png" alt="">
            </a>
            <div class="text-content-op">
                <h1>Anxoves Del Padri</h1>
                <p>A family business in Port-Vendres since 1967, embodying the heritage of Mediterranean fishing.</p>
            </div>
        </div>

        <footer class="footer">
            <p>You've reached the end</p>
        </footer>
        <script src="../script/scroll.js" defer></script>
        <script src="../script/transition.js"></script>
        </div>
</body>

</html>