<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/project-one.css">
    <title>Again barstool by TON</title>
    <link rel="icon" href="../img/favicon-sinergy.png" type="image/png">
    <link rel="stylesheet" href="../styles/other-project.css">
</head>

<body>
    <div class="content">
        <div class="navbar">
            <nav class="header-nav">
                <a href="../index.html" id="work" onclick="pageTransition(event)">Back to work</a>
            </nav>
        </div>
        <!-- Div pour l'animation de couverture de l'écran -->
        <div class="transition-overlay"></div>
        <section class="hero">
            <h1 class="hero-title">Again barstool by TON</h1>
            <p class="hero-subtitle">Wooden designer chairs and tables. Handcrafted for generations.</p>
        </section>

        <section class="video-holder-section">
            <div class="video-holder">
                <video style="width: 100%; height: auto;" autoplay loop muted playsinline disablePictureInPicture>
                <source src="../video/Chair-Top.mp4"  type="video/mp4">
                Votre navigateur ne supporte pas la lecture de vidéos.
            </video>
            </div>
        </section>

        <section class="texte">
            <h1 class="texte-title">A Journey of Exploration</h1>
            <p class="texte-subtitle">Pushing visual boundaries to craft a unique identity for an iconic barstool.</p>
        </section>

        <section class="double-image-holder-section">
            <div class="double-image-holder">
                <div class="image-container-double">
                    <img src="../img/chair1.png" alt="Image 1" style="width: 100%; height: auto;">
                </div>
                <div class="image-container-double">
                    <video style="width: 100%; height: auto;" autoplay loop muted playsinline disablePictureInPicture>
                        <source src="../video/Chair2.mp4"  type="video/mp4">
                        Votre navigateur ne supporte pas la lecture de vidéos.
                    </video>
                </div>
            </div>

        </section>

        <section class="texte">
            <h1 class="texte-title">Modeled and Animated in Blender</h1>
            <p class="texte-subtitle">Elevating Concepts Through Blender's Power</p>
        </section>


        <section class="image-holder-section">
            <div class="image-holder">
                <video style="width: 100%; height: auto;" autoplay loop muted playsinline disablePictureInPicture>
                    <source src="../video/Chair-blender-1.mp4"  type="video/mp4">
                    Votre navigateur ne supporte pas la lecture de vidéos.
                </video>
            </div>
        </section>

        <section class="texte">
            <h1 class="texte-title"></h1>
            <p class="texte-subtitle"></p>
        </section>


        <section class="image-holder-section">
            <div class="image-holder">
                <img src="../img/chair-blender-i.png" alt="Image" style="width: 100%; height: auto;">
            </div>
        </section>


        <section class="texte">
            <h1 class="texte-title">Dynamic Stillness</h1>
            <p class="texte-subtitle">Static visuals infused with motion through blurred textures and compositions.</p>
        </section>

        <section class="double-image-holder-section">
            <div class="demi-video-holder">
                <div class="image-container-double">
                    <img src="../img/chair2.png" alt="Image 1" style="width: 100%; height: auto;">
                </div>
            </div>
            <div class="demi-video-holder">
                <img src="../img/chair3.png" alt="Image 1" style="width: 100%; height: auto;">
            </div>
        </section>

        <section class="texte">
            <h1 class="texte-title">Central Elegance</h1>
            <p class="texte-subtitle">A 3D lounge scene showcasing barstools seamlessly integrated around a modern kitchen island.</p>
        </section>

        <section class="image-holder-section">
            <div class="image-holder">
                <img src="../img/Chair-full.png" alt="Image" style="width: 100%; height: auto;">
            </div>
        </section>

        <section class="texte-op">
            <h1 class="texte-title-op">View more work</h1>
        </section>

        <div class="section-op" id="projet3">
            <a href="../view/project5.html" class="image-holder-op" onclick="pageTransition(event)">
                <video style="width: 100%; height: auto;" autoplay loop muted playsinline disablePictureInPicture>
                    <source src="../video/Sinergy-Top.mp4" type="video/mp4">
                    <img src="img/Sleek-cover.png" alt="Fallback Image" style="width: 100%; height: auto;">
                    Votre navigateur ne supporte pas la lecture de vidéos.
                </video>
            </a>
            <div class="text-content-op">
                <h1>Sinergy</h1>
                <p>A brand that creates and organizes festivals.</p>
            </div>
        </div>

        <footer class="footer">
            <p>You've reached the end</p>
        </footer>
        <script src="../script/scroll.js" defer></script>
        <script src="../script/transition.js"></script>
    </div>
</body>

</html>