<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/project-one.css">
    <title>Tape Roll</title>
    <link rel="icon" href="../img/favicon-tape-roll.png" type="image/png">
    <link rel="stylesheet" href="../styles/other-project.css">
</head>

<body>
    <div class="content">
        <div class="navbar">
            <nav class="header-nav">
                <a href="../index.html" id="work" onclick="pageTransition(event)">Back to work</a>
            </nav>
        </div>
        <!-- Div pour l'animation de couverture de l'écran -->
        <div class="transition-overlay"></div>
        <section class="hero">
            <h1 class="hero-title">Tape Roll</h1>
            <p class="hero-subtitle">Rendered image to create promotional visuals for a roll of tape.</p>
        </section>

        <section class="image-holder-section">
            <div class="image-holder">
                <img src="../img/Tape-Roll-top.png" alt="Image" width="1408" height="792">
            </div>
        </section>

        <section class="texte">
            <h1 class="texte-title">Powerful Colors</h1>
            <p class="texte-subtitle">An explosion of bold shades to captivate.</p>
        </section>

        <section class="image-holder-section">
            <div class="image-holder">
                <img src="../img/Tape-Roll-marble.png" alt="Image" width="1408" height="792">
            </div>
        </section>

        <section class="texte">
            <h1 class="texte-title">Rendered and modeled in Blender</h1>
            <p class="texte-subtitle">Crafting Precision with Blender and Bringing Ideas to Life.</p>
        </section>

        <section class="double-image-holder-section">
            <div class="double-image-holder">
                <div class="image-container-double">
                    <img src="../img/Tape-Roll-1-1.png" alt="Image 1" width="704" height="792">
                </div>
                <div class="image-container-double">
                    <img src="../img/Tape-Roll-1-2.png" alt="Image 1" width="704" height="792">
                </div>
            </div>

        </section>

        <section class="texte">
            <h1 class="texte-title">Sculpted Realities</h1>
            <p class="texte-subtitle">Crafting the imaginary into tangible visuals, created with Blender and designed with real-world proportions.</p>
        </section>

        <section class="image-holder-section">
            <div class="image-holder">
                <img src="../img/Tape-Roll-clay1.png" alt="Image" width="1408" height="792">
            </div>
        </section>

        <section class="texte">
            <h1 class="texte-title">Realistic Lighting</h1>
            <p class="texte-subtitle">Creating lifelike atmospheres through precise lighting.</p>
        </section>

        <section class="image-holder-section">
            <div class="image-holder">
                <img src="../img/Tape-Roll-clay2.png" alt="Image" width="1408" height="792">
            </div>
        </section>

        <section class="texte">
            <h1 class="texte-title">Creative Scenery</h1>
            <p class="texte-subtitle">Where staging breathes life into design.</p>
        </section>

        <section class="image-holder-section">
            <div class="image-holder">
                <img src="../img/Tape-Roll-Keyboard.png" alt="Image" width="1408" height="792">
            </div>
        </section>

        <section class="texte-op">
            <h1 class="texte-title-op">View more work</h1>
        </section>

        <div class="section-op" id="projet3">
            <a href="../view/project1.html" class="image-holder-op" onclick="pageTransition(event)">
                <img src="../img/Sleek-cover.png" alt="">
            </a>
            <div class="text-content-op">
                <h1>Sleek</h1>
                <p>A design agency based in <br> the south of France.</p>
            </div>
        </div>

        <footer class="footer">
            <p>You've reached the end</p>
        </footer>
        <script src="../script/scroll.js" defer></script>
        <script src="../script/transition.js"></script>
    </div>
</body>

</html>


<!--  Image Holder

<section class="image-holder-section">
            <div class="image-holder">
                <img src="../img/Sleek-Footer.png" alt="Image" width="1408" height="792">
            </div>
        </section>

        -->


<!--  Video Holder

<section class="video-holder-section">
            <div class="video-holder">
                <video width="1408" height="792" autoplay loop muted playsinline style="width: 100%; height: auto;" disablePictureInPicture>
                <source src="../video/Sleek-Website-top.mp4"  type="video/mp4">
                Votre navigateur ne supporte pas la lecture de vidéos.
            </video>
            </div>
        </section>

        -->

<!--  Double Video Holder

<section class="double-image-holder-section">
            <div class="demi-video-holder">
                    <video width="704" height="792" autoplay loop muted playsinline style="width: 100%; height: auto;" disablePictureInPicture>
                    <source src="../video/Sleek-Bento-Part-2.mp4"  type="video/mp4">
                    Votre navigateur ne supporte pas la lecture de vidéos.
                </video>
                </div>
                <div class="demi-video-holder">
                    <video width="704" height="792" autoplay loop muted playsinline style="width: 100%; height: auto;" disablePictureInPicture>
                    <source src="../video/Sleek-Bento-Part-2.mp4"  type="video/mp4">
                    Votre navigateur ne supporte pas la lecture de vidéos.
                </video>
                </div>
        </section>

        -->


<!--  Double Image Holder

<section class="double-image-holder-section">
            <div class="double-image-holder">
                <div class="image-container-double">
                    <img src="../img/Sleek-bento-part-1.png" alt="Image 1" width="704" height="792">
                </div>
                <div class="demi-video-holder">
                    <video width="704" height="792" autoplay loop muted playsinline style="width: 100%; height: auto;" disablePictureInPicture>
                    <source src="../video/Sleek-Bento-Part-2.mp4"  type="video/mp4">
                    Votre navigateur ne supporte pas la lecture de vidéos.
                </video>
                </div>
        </section>

        -->


<!--  Quad Image Holder

<section class="quad-image-holder-section">
            <div class="quad-image-holder">
                <div class="image-container-quad-top">
                    <img src="lien image" alt="Image 1" width="704" height="396">
                </div>
                <div class="image-container-quad-top">
                    <img src="lien image" alt="Image 2" width="704" height="396">
                </div>
                <div class="image-container-quad-top">
                    <img src="lien image" alt="Image 1" width="704" height="396">
                </div>
                <div class="image-container-quad-top">
                    <img src="lien image" alt="Image 2" width="704" height="396">
                </div>
            </div>
        </section>

        -->