<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/project-one.css">
    <title>Techno music memory</title>
    <link rel="icon" href="../img/favicon-memoire.png" type="image/png">
    <link rel="stylesheet" href="../styles/other-project.css">
</head>

<body>
    <div class="content">
        <div class="navbar">
            <nav class="header-nav">
                <a href="../index.html" id="work" onclick="pageTransition(event)">Back to work</a>
            </nav>
        </div>
        <!-- Div pour l'animation de couverture de l'écran -->
        <div class="transition-overlay"></div>
        <section class="hero">
            <h1 class="hero-title">Techno music memory</h1>
            <p class="hero-subtitle">Personal project completed during my final year of higher education.</p>
        </section>

        <section class="video-holder-section">
            <div class="video-holder">
                <video style="width: 100%; height: auto;" autoplay loop muted playsinline disablePictureInPicture>
                <source src="../video/Memoire-top-.mp4"  type="video/mp4">
                Votre navigateur ne supporte pas la lecture de vidéos.
            </video>
            </div>
        </section>

        <section class="texte">
            <h1 class="texte-title">66 pages to talk about techno</h1>
            <p class="texte-subtitle">From its origins to the present day: Exploring the evolution of techno music and its communication strategies.</p>
        </section>

        <section class="image-holder-section">
            <div class="image-holder">
                <img src="../img/Memoire-title.png" alt="Image">
            </div>
        </section>

        <section class="texte">
            <h1 class="texte-title">From InDesign Boards to Reality</h1>
            <p class="texte-subtitle">Where screen designs find their place on paper.</p>
        </section>

        <section class="double-image-holder-section">
            <div class="double-image-holder">
                <div class="image-container-double">
                    <img src="../img/Memoire-part-1.png" alt="Image 1">
                </div>
                <div class="image-container-double">
                    <img src="../img/memoire-random.png" alt="Image 1">
                </div>
            </div>

        </section>

        <section class="texte">
            <h1 class="texte-title">Strong Visual</h1>
            <p class="texte-subtitle">Pushing Boundaries with Noise and Effects to Craft Surreal Imagery.</p>
        </section>

        <section class="image-holder-section">
            <div class="image-holder">
                <img src="../img/memoire-full-women-music.png" alt="Image">
            </div>
        </section>

        <section class="texte">
            <h1 class="texte-title">Thermal colors</h1>
            <p class="texte-subtitle">Using green, red, yellow, and blue to evoke the warmth of bodies coming together during techno nights.</p>
        </section>

        <section class="image-holder-section">
            <div class="image-holder">
                <img src="../img/memoire-double-page.png" alt="Image">
            </div>
        </section>

        <section class="texte">
            <h1 class="texte-title">Magazine-Style Layouts</h1>
            <p class="texte-subtitle">Inspired by the art of print design.</p>
        </section>

        <section class="double-image-holder-section">
            <div class="double-image-holder">
                <div class="image-container-double">
                    <img src="../img/Memoire-double-2-1.png" alt="Image 1">
                </div>
                <div class="image-container-double">
                    <img src="../img/Memoire-double-2-2.png" alt="Image 1">
                </div>
            </div>
        </section>

        <section class="texte">
            <h1 class="texte-title">Structured Aesthetics</h1>
            <p class="texte-subtitle">Balanced and dynamic compositions shaped by the precision of grid systems.</p>
        </section>

        <section class="image-holder-section">
            <div class="image-holder">
                <img src="../img/Memoire-working-guides.png" alt="Image">
            </div>
        </section>

        <section class="texte-dl">
            <h1 class="texte-title">Want to have a look ?</h1>
            <p class="texte-subtitle">Take a closer look, read the complete document.</p>
            <div class="button-container">
                <a href="../PDF/Memory-Techno-Music-Benjamin-Tirmant.pdf" class="custom-button-white" download="Memory-Techno-Music-Benjamin-Tirmant">Download It</a>
            </div>
        </section>

        <section class="texte-op">
            <h1 class="texte-title-op">View more work</h1>
        </section>

        <div class="section-op" id="projet3">
            <a href="../view/project3.html" class="image-holder-op" onclick="pageTransition(event)">
                <img src="../img/Tape-Roll-top.png" alt="">
            </a>
            <div class="text-content-op">
                <h1>Tape Roll</h1>
                <p>Rendered image to create promotional visuals for a roll of tape.</p>
            </div>
        </div>

        <footer class="footer">
            <p>You've reached the end</p>
        </footer>
        <script src="../script/scroll.js" defer></script>
        <script src="../script/transition.js"></script>
    </div>
</body>

</html>



<!--  Image Holder

<section class="image-holder-section">
            <div class="image-holder">
                <img src="../img/Sleek-Footer.png" alt="Image" width="1408" height="792">
            </div>
        </section>

        -->


<!--  Video Holder

<section class="video-holder-section">
            <div class="video-holder">
                <video width="1408" height="792" autoplay loop muted playsinline style="width: 100%; height: auto;" disablePictureInPicture>
                <source src="../video/Sleek-Website-top.mp4"  type="video/mp4">
                Votre navigateur ne supporte pas la lecture de vidéos.
            </video>
            </div>
        </section>

        -->

<!--  Double Video Holder

<section class="double-image-holder-section">
            <div class="demi-video-holder">
                    <video width="704" height="792" autoplay loop muted playsinline style="width: 100%; height: auto;" disablePictureInPicture>
                    <source src="../video/Sleek-Bento-Part-2.mp4"  type="video/mp4">
                    Votre navigateur ne supporte pas la lecture de vidéos.
                </video>
                </div>
                <div class="demi-video-holder">
                    <video width="704" height="792" autoplay loop muted playsinline style="width: 100%; height: auto;" disablePictureInPicture>
                    <source src="../video/Sleek-Bento-Part-2.mp4"  type="video/mp4">
                    Votre navigateur ne supporte pas la lecture de vidéos.
                </video>
                </div>
        </section>

        -->


<!--  Double Image Holder

<section class="double-image-holder-section">
            <div class="double-image-holder">
                <div class="image-container-double">
                    <img src="../img/Sleek-bento-part-1.png" alt="Image 1" width="704" height="792">
                </div>
                <div class="demi-video-holder">
                    <video width="704" height="792" autoplay loop muted playsinline style="width: 100%; height: auto;" disablePictureInPicture>
                    <source src="../video/Sleek-Bento-Part-2.mp4"  type="video/mp4">
                    Votre navigateur ne supporte pas la lecture de vidéos.
                </video>
                </div>
        </section>

        -->


<!--  Quad Image Holder

<section class="quad-image-holder-section">
            <div class="quad-image-holder">
                <div class="image-container-quad-top">
                    <img src="lien image" alt="Image 1" width="704" height="396">
                </div>
                <div class="image-container-quad-top">
                    <img src="lien image" alt="Image 2" width="704" height="396">
                </div>
                <div class="image-container-quad-top">
                    <img src="lien image" alt="Image 1" width="704" height="396">
                </div>
                <div class="image-container-quad-top">
                    <img src="lien image" alt="Image 2" width="704" height="396">
                </div>
            </div>
        </section>

        -->