<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/test.css">
    <title>Animation d'Entrée</title>
</head>

<body>
    <div class="wrapper">
        <h1 class="heading">Bienvenue sur Sleek</h1>
        <p class="subheading">Découvrez notre site magnifique !</p>
        <div class="box">Coffre Mystère</div>
    </div>
    <script src="../script/transition.js"></script>
</body>

</html>